# Ignore Visual Studio Code related files and directories
.vscode/**
.vscode-test/**

# Ignore source code files and directories
src/**
scripts/**
**/*.ts

# Ignore configuration files
.gitignore
.yarnrc
**/tsconfig.json
eslint*
esbuild*
.rodeoignore
.claude/
.github
.env
.env.*
*.env

# Ignore source map files
**/*.map

# Ignore dependencies and build artifacts
node_modules/**
builds/**
dist/**
coverage/**
*.vsix

# Ignore test files and directories
test/**
**/*.test.*
**/*.spec.*
jest.config.js

# Do not ignore the following files
!out/tiktoken_bg.wasm